body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    background: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 22px;

}

.header a, .hero-text .sub-text {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-text {
    background: #1f2937;
    display: flex;
    justify-content: center;
    padding: 100px 220px;
    padding-bottom: 140px;
}

.hero-text img {
    width: 520px;
}

.hero-text .main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 2px;
    padding: 0px;
}

.hero-text .sub-text {
    padding-right: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    width: 450px;
}

button {
    margin-top: 8px;
    border-radius: 12px;
    font-size: 18px;
    padding: 7px 36px;
}

.hero-text button {
    border-color: black;
    color: white;
    background-color: #3882F6;
}

.info {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 10px;
}

.image-content {
    display: flex;
    justify-content: center;
    gap: 52px;
    padding-bottom: 120px;
}

.content {
    max-width: 200px;
}

.content img {
    border: 5px solid #3882F6;
    border-radius: 12px;
    max-width: 170px;

}

.content .text {
    max-width: 170px;
    font-size: 18px;
    text-align: center;
    color: gray;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px 320px;
    flex-direction: column;
}

.quote .text{
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
    margin-bottom: 0;
}

.quote .subtext {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
    margin-right: 14px;
    margin-bottom: 14px;
}

.action {
    margin: 100px 220px;
    padding: 25px 120px;
    border-radius: 12px;
    background: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action .main-text {
    color: white;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: -15px;
}

.action .sub-text {
    color: lightgray;
    font-weight: 100;
    font-size: 18px;
}

.action button {
    border-color: white;
    color: white;
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 36px;
    justify-content: space-around;
    align-items: center;
    padding-left: 80gpx;
}

.footer p {
    font-size: 17px;
    letter-spacing: 0.7px;
    padding: 5px;
    margin: 0;
    font-weight: 300;
}