body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    background: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 22px;

}

.header a, .hero-text .sub-text {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero-text {
    background: #1f2937;
    display: flex;
    justify-content: center;
    padding: 100px 220px;
    padding-bottom: 140px;
}

.hero-text img {
    width: 520px;
}

.hero-text .main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 2px;
    padding: 0px;
}

.hero-text .sub-text {
    padding-right: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    width: 450px;
}

.hero-text button {
    margin-top: 8px;
    border-radius: 12px;
    font-size: 18px;
    color: white;
    background-color: #3882F6;
    padding: 7px 36px;
}